
.header
    margin: 0 auto
    width: 100%
    max-width: 1100px
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box

.header-logo
    margin-top: 55px
    background-image: url("../parts_/logo.svg")
    width: 58px
    height: 58px
    background-repeat: no-repeat

.nav-menu-unit-link
    text-decoration: none
    font-size: 14px
    color: #868686
    padding: 5px 13px 5px 13px
    margin-left: 15px
    background-color: white
    font-family: Lato
    text-transform: uppercase
    font-size: 14px

.nav-menu-unit-link:hover
    background-color: #ffbb42
    padding: 5px 13px 5px 13px
    text-align: center
    border-radius: 5px
    color: white

.header-menu
    display: flex
    justify-content: start
    margin-top: 50px

.registration-container
    background-color: #709dca
    background-size: cover
    height: 600px

.registration-container-info
    margin: 0 auto
    width: 100%
    max-width: 1100px
    text-align: center
    align-items: center

.registration-container-title
    padding-top: 110px
    color: #ffffff
    font-family: sans-serif
    font-size: 35px
    font-weight: bold
    letter-spacing: -0.88px

.registration-container-text
    color: #ffffff
    font-family: sans-serif
    font-size: 16px
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
    text-align: center
    font-weight: bold

.registration-notebook-pic
    padding-bottom: 20px
    display: inline-block
    width: 647px
    height: 343px
    background-image: url("../parts_/laptop.png")
    background-repeat: no-repeat

.registration-container-registration-section
    margin-top: 65px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px

.registration-button
    border: none
    cursor: pointer
    font-weight: bold
    background-color: #ffbb42
    width: 211px
    height: 44px
    border-radius: 2px
    font-size: 14px
    color: white

.registration
    border: none
    width: 250px
    height: 42px
    border-radius: 2px
    font-size: 16px
    color: #a9a9a9
    resize: none

.name-field
    background-image: url("../parts_/name.png")
    background-position: 15px 15px
    background-repeat: no-repeat
    padding-left: 40px

.email-field
    background-image: url("../parts_/mail.png")
    background-position: 15px 16px
    background-repeat: no-repeat
    padding-left: 40px

.phone-field
    background-image: url("../parts_/phone.png")
    background-position: 15px 16px
    background-repeat: no-repeat
    padding-left: 40px

.radio-scetion
    position: relative

.corusel-container
    position: absolute
    margin: 60px 0 0 220px

.corusel-one
    margin-top: 50px

#corusel-one
    cursor: pointer

.our-services-container
    padding-top: 200px
    align-items: center
    margin: 0 auto
    width: 100%
    max-width: 1100px

.our-services
    display: grid
    grid-template-columns: 1fr 1fr

.our-services-title-info
    text-align: center

.our-services-title
    color: #394b50
    font-family: sans-serif
    font-size: 30px
    font-weight: 900
    letter-spacing: -0.75px

.our-services-text-info
    color: #394b50
    font-family: sans-serif
    font-size: 16px
    line-height: 22px

.our-services-card
    padding: 90px 10px 10px 10px
    display: flex
    justify-content: flex-start
    align-items: center

.our-services-info
    flex-basis: calc(100% - 120px)

.pic-container
    flex-basis: 90px

.our-services-info-title
    text-transform: uppercase
    color: #394b50
    font-weight: bold
    font-size: 16px
    font-family: sans-serif

.our-services-info-text
    display: inline-block
    padding-top: 20px
    ont-family: OpenSans
    font-size: 13px
    font-weight: normal
    font-stretch: normal
    font-style: normal
    line-height: 1.69
    letter-spacing: normal
    text-align: left
    color: #7b7b7b

.about-us-container
    margin-top: 150px
    display: flex
    background-color: #ffc155
    background-size: cover

.about-us-pic
    height: 623px
    object-fit: cover

.about-us
    margin: 0 auto
    width: 100%
    max-width: 1700px
    display: flex

.about-us-text-info
    width: 50%
