.header {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.6;
}

.header-logo {
  margin-top: 55px;
  background-image: url("../parts_/logo.svg");
  width: 58px;
  height: 58px;
  background-repeat: no-repeat;
}

.nav-menu-unit-link {
  text-decoration: none;
  font-size: 14px;
  color: #868686;
  padding: 5px 13px 5px 13px;
  margin-left: 15px;
  background-color: white;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-menu-unit-link:hover {
  background-color: #ffbb42;
  padding: 5px 13px 5px 13px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.header-menu {
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.registration-container {
  background-color: #709dca;
  background-size: cover;
  height: 600px;
}

.registration-container-info {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  text-align: center;
  align-items: center;
}

.registration-container-title {
  padding-top: 110px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -0.88px;
}

.registration-container-text {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  font-weight: bold;
}

.registration-notebook-pic {
  padding-bottom: 20px;
  display: inline-block;
  width: 647px;
  height: 343px;
  background-image: url("../parts_/laptop.png");
  background-repeat: no-repeat;
}

.registration-container-registration-section {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.registration-button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffbb42;
  width: 211px;
  height: 44px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
}

.registration {
  border: none;
  width: 250px;
  height: 42px;
  border-radius: 2px;
  font-size: 16px;
  color: #a9a9a9;
  resize: none;
}

.name-field {
  background-image: url("../parts_/name.png");
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.email-field {
  background-image: url("../parts_/mail.png");
  background-position: 15px 16px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.phone-field {
  background-image: url("../parts_/phone.png");
  background-position: 15px 16px;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.radio-scetion {
  position: relative;
}

.corusel-container {
  position: absolute;
  margin: 60px 0 0 220px;
}

.corusel-one {
  margin-top: 50px;
}

#corusel-one {
  cursor: pointer;
}

.our-services-container {
  padding-top: 200px;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.our-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-services-title-info {
  text-align: center;
}

.our-services-title {
  color: #394b50;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.75px;
}

.our-services-text-info {
  color: #394b50;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.our-services-card {
  padding: 90px 10px 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: top;
}

.our-services-info {
  flex-basis: calc(100% - 120px);
}

.pic-container {
  flex-basis: 90px;
}

.our-services-info-title {
  text-transform: uppercase;
  color: #394b50;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

.our-services-info-text {
  display: inline-block;
  padding-top: 20px;
  ont-family: OpenSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #7b7b7b;
}

.about-us-container {
  margin-top: 150px;
  display: flex;
  background-color: #ffc155;
}

.about-us-pic-container {
  width: 50%;
  ackground-size: cover;
  background-image: url("../parts_/aboutUs.png");
  height: 623px;
}

.about-us {
  margin: 0 auto;
  width: 100%;
  max-width: 1700px;
  display: flex;
}

.about-us-text-info {
  display: inline-block;
  max-width: 500px;
  width: 50%;
  margin: 165px 0 0 80px;
}

.about-us-title {
  font-size: 30px;
  font-weight: 900;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.about-us-text {
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.about-us-button {
  cursor: pointer;
  margin-top: 35px;
  background-color: #e7ad48;
  border-radius: 2px;
  border: solid 1px #e7ad48;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  padding: 20px 35px 20px 35px;
}

.price-container-background {
  background-color: #e7edf3;
  background-size: cover;
}

.price-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.price-text-info {
  text-align: center;
  padding: 140px 0 50px 0;
}

.price-title {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.75px;
  color: #394b50;
  text-transform: uppercase;
}

.price-text {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #75888d;
}

.price-card-container {
  display: flex;
  align-items: row;
  justify-content: space-around;
  padding-bottom: 165px;
}

.price-card {
  background-color: white;
  padding: 40px 100px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: solid 1px #ccd5df;
}

.price-card:hover {
  background-color: #709dca;
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}
.price-card:hover .card-title {
  color: white;
}
.price-card:hover .card-price-info {
  color: white;
}
.price-card:hover .card-price-text {
  color: white;
}
.price-card:hover .pcard-price-description-text {
  color: white;
}

.card-title {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: center;
  color: #818b95;
  text-transform: uppercase;
}

.card-price-container {
  text-align: center;
}

.card-price-info {
  display: inline-block;
  margin-top: 30px;
  font-size: 60px;
  font-family: sans-serif;
  color: #ffbb42;
  font-weight: bold;
}

.price-card-button {
  margin-top: 35px;
  padding: 16px 21px 16px 21px;
  cursor: pointer;
  border-radius: 2px;
  border: solid 1px #e7ad48;
  background-color: #ffbb42;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
}

.pcard-price-description-text {
  padding-top: 8px;
  border-top: 1px solid #e2e9f0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: center;
  color: #b5bbc1;
  text-transform: uppercase;
}

.card-price-description {
  margin-top: 50px;
}

.card-price-text {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #818b95;
  text-transform: uppercase;
}

.how-it-works-content {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.how-it-works-text {
  margin-top: 150px;
  text-align: center;
}

.how-it-works-title {
  text-transform: uppercase;
  color: #394b50;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.75px;
}

.how-it-works-text-title {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #394b50;
}

.how-it-works-steps {
  margin-top: 80px;
  display: flex;
}

.step-card {
  margin-top: 45px;
  max-width: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.step-card-text-info {
  margin-top: 100px;
  text-align: center;
}

.step-card-title {
  color: #394b50;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
}

.step-card-text {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #7b7b7b;
}

.step-arrow-middle {
  margin-top: 120px;
}

.steps-button {
  cursor: pointer;
  margin-top: 90px;
  background-color: #ffbb42;
  width: 170px;
  height: 50px;
  border-radius: 2px;
  border: solid 1px #e7ad48;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.button-container {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.happy-clients-section {
  margin-top: 150px;
  background-color: #ffc155;
  background-size: cover;
}

.happy-clients-info {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

.happy-clients-text-section {
  text-align: center;
  padding: 140px 0 58px 0;
}

.client-card-img-container {
  padding-right: 30px;
}

.clients-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 25px;
  padding-bottom: 150px;
}

.happy-clients-title {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: white;
}

.happy-clients-text {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #ffffff;
}

.client-card {
  display: flex;
  background-color: white;
  padding: 40px 40px 50px 30px;
}

.client-card:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s;
}

.client-card-text-info {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #7b7b7b;
}

.client-card-text-bio {
  margin-top: 30px;
  display: inline-block;
}

.client-card-text-bio {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #99a9ae;
  text-transform: uppercase;
}

.special-text-bio {
  color: #f6772c;
}

/*# sourceMappingURL=output.css.map */
